{
  "plugins": ["prettier-plugin-astro"],
  "semi": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "singleQuote": true,
  "endOfLine": "auto",
  "trailingComma": "es5"
}
