@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  @apply touch-manipulation;
}

@layer base {
  html {
    overflow-y: scroll;
  }
  html,
  body {
    @apply h-full w-full relative;
  }
  #__nuxt {
    @apply h-full w-full flex flex-col items-stretch;
  }

  :not(pre) > code {
    @apply px-1 text-neutral-800 bg-white;
  }
  pre:has(code) {
    @apply p-2  rounded bg-[var(--code-background)] mt-2;
  }
  code {
    @apply [text-wrap:balance] [white-space:break-spaces] [word-break:break-word]
      text-sm font-mono rounded;
  }
  pre code.hljs {
    padding: 0 !important;
  }

  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  h4 {
    @apply text-base font-semibold;
  }
  h5 {
    @apply text-sm font-semibold;
  }
  h6 {
    @apply text-xs font-normal;
  }

  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  ul,
  ol {
    @apply ps-5;
  }

  a {
    @apply underline break-words;
  }

  input {
    @apply px-2 py-1 bg-white bg-opacity-10 focus:bg-opacity-5;
  }
}

@layer components {
  .text-primary {
    @apply text-[var(--primary)];
  }
  .text-contrast {
    @apply text-[var(--contrast)];
  }
  .bg-primary {
    @apply bg-[var(--primary)];
  }
  .bg-contrast {
    @apply bg-[var(--contrast)];
  }
  .border-primary {
    @apply border-[var(--primary)];
  }
  .border-contrast {
    @apply border-[var(--contrast)];
  }
}
