@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --code-background: #282c34;
  @apply touch-manipulation;
  --primary: hsl(180deg 40% 40%);
  --contrast: hsl(220deg 30% 8%);
}

@layer base {
  html {
    overflow-y: scroll;
  }
  html,
  body {
    @apply h-full w-full relative;
  }
  body {
    @apply bg-[var(--contrast)] text-white;
  }

  :not(pre) > code {
    @apply px-1 text-neutral-800 bg-white;
  }
  pre:has(code) {
    @apply p-2  rounded bg-[var(--code-background)] mt-2;
  }
  code {
    @apply [text-wrap:balance] [white-space:break-spaces] [word-break:break-word]
      text-sm font-mono rounded;
  }
  pre code.hljs {
    padding: 0 !important;
  }

  h1 {
    @apply font-bold text-2xl max-sm:text-xl;
  }
  h2 {
    @apply font-bold text-xl max-sm:text-lg;
  }
  h3 {
    @apply font-semibold text-lg max-sm:text-base;
  }
  h4 {
    @apply font-semibold text-base max-sm:text-sm;
  }
  h5 {
    @apply font-semibold text-sm max-sm:text-xs;
  }
  h6 {
    @apply font-normal text-xs max-sm:text-xs;
  }

  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  ul,
  ol {
    @apply ps-5;
  }

  a {
    @apply underline break-words;
  }

  input {
    @apply px-2 py-1 bg-white bg-opacity-10 focus:bg-opacity-5;
  }
}

@layer components {
  .text-primary {
    @apply text-[var(--primary)];
  }
  .text-contrast {
    @apply text-[var(--contrast)];
  }
  .bg-primary {
    @apply bg-[var(--primary)];
  }
  .bg-contrast {
    @apply bg-[var(--contrast)];
  }
  .border-primary {
    @apply border-[var(--primary)];
  }
  .border-contrast {
    @apply border-[var(--contrast)];
  }
}
