---
import { ViewTransitions } from 'astro:transitions'
import '@src/assets/styles/main.css'

type Props = {
  title?: string
  allowAnalytics?: boolean
}
const title = Astro.props.title || 'Tina'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <img
      class="absolute w-0 h-0"
      src="https://librecounter.org/counter.svg"
      loading="eager"
      decoding="async"
      referrerpolicy="unsafe-url"
      id="libre-counter"
    />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --primary: #db543c;
    --contrast: #100e21;
  }
  body {
    @apply bg-[var(--contrast)];
  }
</style>
