---
import TINA from '@src/lib/tina?raw'
import TINA_COMMON from '@src/lib/tina.common?raw'
import TINA_RAYMARCH_LIGHT from '@src/lib/raymarch/light?raw'
import TINA_RAYMARCH_MATERIAL from '@src/lib/raymarch/material?raw'
import TINA_RAYMARCH_SCENE from '@src/lib/raymarch/scene?raw'
import TINA_RAYMARCH from '@src/lib/raymarch/raymarch?raw'
import TINA_RAYMARCH_PHYSICS from '@src/lib/raymarch/physics.capsule?raw'
import '@src/assets/styles/main.css'

interface Props {
  title?: string
  sketch: string
}

const title = Astro.props.title || 'Tina'
const SKETCH = Astro.props.sketch
const SCRIPT = [
  TINA_COMMON,
  TINA_RAYMARCH_PHYSICS,
  TINA_RAYMARCH,
  TINA_RAYMARCH_MATERIAL,
  TINA_RAYMARCH_SCENE,
  TINA_RAYMARCH_LIGHT,
  TINA,
  SKETCH,
  ].join('\n')
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex, nofollow" />
    <title>{title}</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.10.0/addons/p5.sound.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.10.0/p5.js"
    ></script>
  </head>
  <body>
    <img
      class="absolute w-0 h-0"
      src="https://librecounter.org/counter.svg"
      loading="eager"
      decoding="async"
      referrerpolicy="unsafe-url"
      id="libre-counter"
    />
    <script is:inline set:html={SCRIPT} />
  </body>
</html>

<style is:global>
  html {
    overflow: hidden;
  }
  canvas {
    margin: auto;
  }
</style>
